.c-button {
  all: unset;
  background-color: var(--primary-accent-color);
  color: #fff;
  padding: 16px 16px 12px 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  text-align: center;
}

.c-button:hover {
  cursor: pointer;
  background-color: #7398f5;
}

.c-button__secondary {
  all: unset;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  padding: 16px 16px 12px 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.c-button__secondary:hover {
  cursor: pointer;
  background-color: #dcdde2;
}
