.c-input {
  all: unset;
  text-align: start;
  padding: var(--gutter);
  transition-duration: 0.15s;
}

.c-input2 {
  border: 1px solid #dedede;
  background-color: #fcfcfc;
  border-radius: var(--border-radius);
  padding: var(--gutter);
  // min-width: 275px;
  width: calc(
    100% - var(--gutter-2) - 2px
  ); // 100% - de padding - 2px voor border = exact 100% van de container
  transition-duration: 0.15s;
}

.c-input2__custom-input {
  border: 1px solid #dedede;
  background-color: #fcfcfc;
  border-radius: var(--border-radius);
  padding: var(--gutter);
  transition-duration: 0.15s;
}
.c-input2__custom-input:focus,
.c-input2__custom-input:hover {
  border: 1px solid #4a7aff;
  border-radius: var(--border-radius);
  outline: none;
  background-color: #f0f4ff;
  transition-duration: 0.15s;
}
.c-input2:focus,
.c-input2:hover {
  border: 1px solid #4a7aff;
  border-radius: var(--border-radius);
  outline: none;
  background-color: #f0f4ff;
  transition-duration: 0.15s;
}

.c-input__searchbar {
  all: unset;
  text-align: start;
  border: 0;
}

.c-input__searchbar-container {
  display: flex;
  background-color: var(--secondary-background-color);
  padding: var(--gutter-2);
  border-radius: var(--border-radius);
}

.c-textarea {
}

.c-input:focus {
}

.c-label {
}

.c-input--state-error {
  border-color: red;
}
