.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.c-toggle__input {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("/img/icons/hamburger.svg");
  background-repeat: no-repeat;
}

.c-toggle__checkbox-hidden:checked + .c-toggle__input {
  background-image: url("/img/icons/arrow_back_icon.svg");
}
