$text-font-size: 16px;

$font-stack-alpha: "Sofia Pro";
$font-stack-numbers: "Arial";
$transition: 0.2s ease-out;

:root {
  --gutter-half: 4px;

  --gutter: 8px;
  --gutter-2: 16px;
  --gutter-3: 24px;
  --gutter-4: 32px;
  --gutter-5: 40px;
  --gutter-10: 80px;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f2f2f2; //of #F0F4FF

  --primary-text-color: #242424;
  --secondary-text-color: #f2f2f2;

  --primary-accent-color: #4f78e0;
  --secondary-accent-color: #cccccc;

  --green-accent: #0eb959;
  --red-accent: #e54d3e;

  --svg-color: #242424;

  --border-radius: 6px;
}
