<template>
  <div class="u-display-flex u-flex-grow-max">
    <!-- stappen afgesplitst -->
    <step-progression :progressionData="datastream"></step-progression>

    <!-- selecteren van data type -->
    <div class="add-datastream-content-container">
      <div
        v-if="datastream.step == 0"
        class="u-display-flex u-flex-direction-column u-align-items-center"
      >
        <p class="c-title">Wat wil je toevoegen?</p>
        <div class="u-display-flex u-mt-xl">
          <div
            v-on:click="setType('magento1')"
            class="add-datastream-type-item"
          >
            <p class="u-font-weight-bold">Magento 1</p>
            <div class="add-datastream-type-icon magento-icon"></div>
          </div>
          <div
            v-on:click="setType('magento2')"
            class="add-datastream-type-item"
          >
            <p class="u-font-weight-bold">Magento 2</p>
            <div class="add-datastream-type-icon magento-icon"></div>
          </div>
        </div>
      </div>

      <!-- client toevoegen // momenteel niet meer in gebruik. -->
      <div
        v-if="datastream.step == 1 && datastream.type == 'client'"
        class="add-datastream-step-container u-box-shadow"
      >
        <p class="c-title">Klant toevoegen</p>
        <div class="custom-input-dropdown-container u-mt-l">
          <input
            class="c-input2__custom-input custom-input"
            type="text"
            v-model="clientInput"
            v-on:keyup="getTeamleaderOptions"
          />
          <div v-if="getOptionsStatus == 1" class="dropdown-content">
            <p class="dropdown-message">Ophalen van klanten...</p>
          </div>
          <div v-if="getOptionsStatus == 2" class="dropdown-content">
            <p class="dropdown-message">Geen klanten gevonden</p>
          </div>
          <div v-if="getOptionsStatus == 3" class="dropdown-content">
            <p
              class="dropdown-item"
              v-for="option in options"
              :key="option.teamleader_id"
              v-on:click="selectOption(option)"
            >
              {{ option.name }}
            </p>
          </div>
          <div class="add-datastream-error-container u-mt-s">
            <p class="c-error-text">{{ selectClientErrorMessage }}</p>
          </div>
        </div>
        <div
          class="u-mt-m u-display-flex u-justify-content-space-between u-align-items-center"
        >
          <button v-on:click="addClientFromTeamleader" class="c-button">
            Toevoegen
          </button>
        </div>
      </div>

      <!-- magento algemene data -->
      <div
        v-if="
          datastream.step == 1 &&
            (datastream.type == 'magento1' || datastream.type == 'magento2')
        "
        class="add-datastream-step-container u-box-shadow"
      >
        <p class="c-title">
          Selecteer klant
        </p>
        <div class="custom-input-dropdown-container u-mt-l">
          <input
            class="c-input2__custom-input custom-input"
            type="text"
            v-model="clientInput"
            v-on:keyup="getTeamleaderOptions"
          />
          <div v-if="getOptionsStatus == 1" class="dropdown-content">
            <p class="dropdown-message">Ophalen van klanten...</p>
          </div>
          <div v-if="getOptionsStatus == 2" class="dropdown-content">
            <p class="dropdown-message">Geen klanten gevonden</p>
          </div>
          <div
            v-if="getOptionsStatus == 3"
            name=""
            id=""
            class="dropdown-content u-mb-xs"
          >
            <p
              class="dropdown-item"
              v-for="option in options"
              :key="option.teamleader_id"
              v-on:click="selectOption(option)"
            >
              {{ option.name }}
            </p>
          </div>
          <div class="add-datastream-error-container u-mt-s">
            <p class="c-error-text">{{ selectClientErrorMessage }}</p>
          </div>
        </div>

        <div
          class="u-mt-m u-display-flex u-justify-content-flex-end u-align-items-center"
        >
          <button v-on:click="addClientFromTeamleader" class="c-button">
            Klant selecteren
          </button>
        </div>
      </div>

      <div
        v-if="
          (datastream.step == 3 && datastream.type == 'magento1') ||
            (datastream.step == 2 && datastream.type == 'magento2') ||
            (datastream.step == 4 && datastream.type == 'client-magento1') ||
            (datastream.step == 3 && datastream.type == 'client-magento2')
        "
        class="add-datastream-step-container u-box-shadow"
      >
        <p class="c-subtitle u-text-align-center">Inloggen</p>
        <div class="u-display-flex u-flex-direction-column u-mt-l">
          <div class="u-display-flex u-justify-content-space-between">
            <label class="u-font-weight-bold" for="">Naam</label>
            <hoverable-info
              message="De naam die u wilt geven aan de webshop binnen dit platform, bv. 'Her'"
            ></hoverable-info>
          </div>

          <input
            class="c-input2 u-mt-xs u-mb-s"
            type="text"
            v-model="magentoData.store_name"
          />
          <div class="u-display-flex u-justify-content-space-between">
            <label class="u-font-weight-bold" for="">URL</label>
            <hoverable-info
              message="De exacte url van de magento webshop, met https://www"
            ></hoverable-info>
          </div>
          <input
            class="c-input2 u-mt-xs u-mb-s"
            type="text"
            v-model="magentoData.url"
          />
          <div class="u-display-flex u-justify-content-space-between">
            <label class="u-font-weight-bold" for="">Gebruikersnaam</label>

            <hoverable-info
              v-if="
                datastream.type == 'magento1' ||
                  datastream.type == 'client-magento1'
              "
              message="Dit is de SOAP-gebruikersnaam en niet de gebruikersnaam van het adminpaneel"
            ></hoverable-info>
            <hoverable-info
              v-if="
                datastream.type == 'magento2' ||
                  datastream.type == 'client-magento2'
              "
              message="Dit is de gebruikersnaam waarmee je kan inloggen op het adminpaneel"
            ></hoverable-info>
          </div>
          <input
            class="c-input2 u-mt-xs u-mb-s"
            type="text"
            v-model="magentoData.username"
          />
          <label class="u-font-weight-bold" for="">Wachtwoord</label>
          <input
            class="c-input2 u-mt-xs u-mb-s"
            type="password"
            v-model="magentoData.password"
          />
        </div>
        <div class="u-display-flex u-justify-content-space-between u-mt-m">
          <default-load-animation
            :status="addMagentoStatus"
          ></default-load-animation>
          <button class="c-button" v-on:click="addMagento">Controleer</button>
        </div>
      </div>

      <!-- magento 1 specifiek -->
      <div
        v-if="
          (datastream.step == 2 && datastream.type == 'magento1') ||
            (datastream.step == 3 && datastream.type == 'client-magento1')
        "
        class="add-datastream-step-container u-box-shadow"
      >
        <h1 class="c-title u-mb-m u-text-align-center">SOAP wat?</h1>
        <p>
          Om een Magento 1 store op te halen via dit platform dient u bij de
          volgende stap in te loggen met een SOAP account. Als u geen toegang
          heeft tot een SOAP account die gekoppeld is aan de desbetreffende
          magentoshop dan kan u
          <router-link to="/soapUser">hier</router-link>
          een stappenplan terugvinden die gedetailleerd uitlegd hoe je dat exact
          doet.
        </p>

        <div class="u-display-flex u-justify-content-flex-end u-mt-l">
          <button v-on:click="datastream.step += 1" class="c-button">
            Volgende
          </button>
        </div>
      </div>

      <!-- magento na client specifiek -->
      <div
        v-if="
          datastream.step == 2 &&
            (datastream.type == 'client' ||
              datastream.type == 'client-magento1' ||
              datastream.type == 'client-magento2')
        "
        class="u-display-flex u-flex-direction-column u-align-items-center"
      >
        <p class="c-title">
          Wil je een shop toevoegen aan {{ selectedTeamleaderClient.name }}?
        </p>
        <div class="u-display-flex u-mt-xl">
          <div
            v-on:click="setType('client-magento1')"
            class="add-datastream-type-item"
          >
            <p class="u-font-weight-bold">Magento 1</p>
            <div class="add-datastream-type-icon magento-icon"></div>
          </div>
          <div
            v-on:click="setType('client-magento2')"
            class="add-datastream-type-item"
          >
            <p class="u-font-weight-bold">Magento 2</p>
            <div class="add-datastream-type-icon magento-icon"></div>
          </div>
        </div>
      </div>

      <div
        v-on:click="stepBack"
        class="add-datastream-step-back-container c-button__secondary"
      >
        <img
          src="@/assets/images/icons/arrow_back_icon.svg"
          alt=""
          class="u-mr-m"
        />
        <p class="u-font-weight-bold">Vorige stap</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
//general
.add-datastream-content-container {
  display: flex;
  justify-content: center;
  padding-top: var(--gutter-10);
  margin-left: 248px; //margin zodat de content niet over de progressionOverview komt
  flex-grow: 1;
}

.add-datastream-step-container {
  border-radius: var(--border-radius);
  height: fit-content;
  padding: var(--gutter-5);
  max-width: 500px;
  min-width: 275px;
}

//back button
.add-datastream-step-back-container {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 310px;
}

//type select
.add-datastream-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--gutter-4);
  cursor: pointer;
}

.add-datastream-type-icon {
  width: 140px;
  height: 140px;
  background-size: cover;
  margin-top: var(--gutter-2);
}

.magento-icon {
  background-image: url("../assets/images/icons/magento_shop_reg.svg");
}

.add-datastream-type-item:hover {
  .magento-icon {
    background-image: url("../assets/images/icons/magento_shop_highlighted.svg");
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
  }

  .client-icon {
    background-image: url("../assets/images/icons/client_icon_highlighted.svg");
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.12);
  }
}

//custom select-dropdown
.custom-input-dropdown-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.custom-input {
  width: calc(100% - var(--gutter-2));
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: var(--secondary-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  //border: 1px solid var(--secondary-accent-color);
  border-radius: var(--border-radius);
  .dropdown-message {
    padding: var(--gutter);
  }
}

.dropdown-item {
  padding: var(--gutter);
  border-radius: var(--border-radius);
}

.dropdown-item:hover {
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

.add-datastream-error-container {
  height: 20px;
}

@media screen and (max-width: 1111px) {
  .add-datastream-content-container {
    margin-left: 70px; //margin zodat de content niet over de progressionOverview komt
  }
}
</style>

<script>
import StepProgression from "@/components/StepProgression.vue";
import DefaultLoadAnimation from "@/components/DefaultLoadAnimation.vue";
import HoverableInfo from "@/components/HoverableInfo.vue";

export default {
  name: "AddDataStream",

  data() {
    return {
      // algemeen
      datastream: { step: 0, type: "" },
      clientData: {},
      magentoData: {},
      // statussen van posts
      addMagentoStatus: 0,
      getOptionsStatus: 0,
      selectedTeamleaderClient: {},
      // inputs
      clientInput: "",
      // opties
      options: {},
      // errors
      selectClientErrorMessage: "",
    };
  },

  components: {
    StepProgression,
    DefaultLoadAnimation,
    HoverableInfo,
  },

  computed: {
    clients() {
      return this.$store.getters.clients;
    },
    teamleaderClients() {
      return this.$store.getters.teamleaderClients;
    },
  },

  async created() {
    await this.getClients();
    console.log("clients: ", this.clients);
  },

  methods: {
    validateClientSelected() {
      //       <!-- <button
      //   v-on:click="
      //     magentoData.client_id != undefined
      //       ? (datastream.step = 2)
      //       : selectClientErrorMessage
      //   "
      //   class="c-button"
      // > -->
      console.log("magentodata: ", this.magentoData.client_id);

      if (this.magentoData.client_id == undefined) {
        this.selectClientErrorMessage = "Gelieve een klant te selecteren.";
      } else {
        this.datastream.step = 2;
      }
    },
    logClient() {
      console.log(this.magentoData.client);
    },

    getTeamleaderOptions: _.debounce(async function() {
      if (this.clientInput == "") {
        this.getOptionsStatus = 0;
      } else {
        this.getOptionsStatus = 1;
        this.options = await this.$store.dispatch(
          "getTeamderClientsByName",
          this.clientInput
        );
        if (this.options.length == 0) {
          this.getOptionsStatus = 2;
        } else {
          this.getOptionsStatus = 3;
        }
      }
    }, 1000),

    // getClientsOptions: _.debounce(async function() {
    //   if (this.clientInput == "") {
    //     this.getOptionsStatus = 0;
    //   } else {
    //     this.getOptionsStatus = 1;
    //     this.options = await this.$store.dispatch(
    //       "getClientsByName",
    //       this.clientInput
    //     );
    //     console.log("options: ", this.options);
    //     if (this.options.length == 0) {
    //       this.getOptionsStatus = 2;
    //     } else {
    //       this.getOptionsStatus = 3;
    //     }
    //   }
    // }, 1000),

    selectOption(option) {
      console.log("selectedopiton: ", option);
      this.selectedTeamleaderClient = option;
      this.selectClientErrorMessage = "";
      this.options = {};
      this.clientInput = option.name;
    },

    async addMagento() {
      this.magentoData.store_type = this.datastream.type.replace("client-", "");
      //this.magentoData.check = "true";
      console.log("magentoData: ", this.magentoData);

      var urlParams = new URLSearchParams();

      for (let key in this.magentoData) {
        urlParams.append(key, this.magentoData[key]);
      }
      this.addMagentoStatus = 1;
      let response = await this.$store.dispatch("addStore", urlParams);
      if (!response || response.status == false) {
        this.addMagentoStatus = 3;
      } else {
        this.addMagentoStatus = 2;
        this.magentoData = {};
        //this.$store.dispatch("getAllStoreOverview");
      }
    },

    async getClients() {
      //lazy load clients
      this.$store.dispatch("getClients");
    },

    async addClientFromTeamleader() {
      if (this.selectedTeamleaderClient.name == undefined) {
        this.selectClientErrorMessage = "Gelieve een klant te selecteren.";
      } else {
        //quick fix, dit zou niet mogen
        this.selectedTeamleaderClient.links = this.selectedTeamleaderClient.website;
        delete this.selectedTeamleaderClient.website;

        for (const client of this.clients) {
          if (
            client.teamleader_id == this.selectedTeamleaderClient.teamleader_id
          ) {
            //client al aanwezig
            this.magentoData.client_id = client.id;
            console.log("client al aanwezig");
            this.datastream.step = 2;
          }
        }
        if (this.magentoData.client_id == undefined) {
          console.log("client toevoegen!");

          var urlParams = new URLSearchParams();
          for (let key in this.selectedTeamleaderClient) {
            urlParams.append(key, this.selectedTeamleaderClient[key]);
          }

          let response = await this.$store.dispatch("addClient", urlParams);
          //clients terug ophalen zodat data live is
          this.getClients();
          //console.log("response: ", response);
          //client toevoegen aan platform
          this.magentoData.client_id = response.id;
          this.datastream.step = 2;
        }
      }
    },

    // async getTeamleaderClients() {
    //   await this.$store.dispatch(
    //     "getTeamderClientsByName",
    //     this.clientData.name
    //   );
    // },

    stepBack() {
      switch (this.datastream.step) {
        case 0:
          // niets doen, stap mag niet onder nul.
          break;
        case 1:
          // alles resetten
          this.options = {};
          this.clientInput = "";
          this.getOptionsStatus = 0;
          this.selectClientErrorMessage = "";
          this.selectedTeamleaderClient = {};
          this.magentoData = {};

          this.datastream.type = "";
          this.datastream.step -= 1;
          break;
        case 2:
          // code block
          if (
            this.datastream.type == "client-magento1" ||
            this.datastream.type == "client-magento2"
          ) {
            this.datastream.type = "client";
          }
          this.datastream.step -= 1;
          break;
        case 3:
          // code block
          if (
            this.datastream.type == "client-magento1" ||
            this.datastream.type == "client-magento2"
          ) {
            this.datastream.type = "client";
          }
          this.datastream.step -= 1;
          break;
        default:
          this.datastream.step -= 1;
      }
    },

    setType(type) {
      this.datastream.type = type;
      this.datastream.step += 1;
      console.log(
        "type: ",
        this.datastream.type,
        "step: ",
        this.datastream.step
      );
    },
  },
};
</script>
