<template>
  <div>
    <p>datapoint aanmaken voor: {{ datapoint.application }}</p>
    <div>
      <p>klant selecteren</p>
      <select v-model="datapoint.client" id="cars">
        <option value disabled selected>Selecteer uw optie</option>
        <option
          :value="client"
          v-for="client in clients"
          v-bind:key="client.id"
          >{{ client.name }}</option
        >
      </select>
      <div>selected client: {{ selectedClient }}</div>
      <!-- <div v-if="selectedClient != undefined">
        <p>platform selecteren</p>
        <select
          v-model="datapoint.platform"
          v-show="datapoint.client != undefined"
        >
          <option value disabled selected>Selecteer uw optie</option>
          <option
            :value="platform"
            v-for="platform in selectedClient.links"
            v-bind:key="platform"
            >{{ platform }}</option
          >
        </select>
      </div> -->
    </div>

    <div v-show="datapoint.platform != undefined && applications.length >= 1">
      <p>applicatie selecteren</p>
      <select v-model="datapoint.application">
        <option value disabled selected>Selecteer uw optie</option>
        <option
          :value="application.name"
          v-for="application in applications"
          v-bind:key="application.name"
          >{{ application.name }}</option
        >
      </select>
      <div>
        <p>{{ error.message }}</p>
      </div>
    </div>

    <div v-if="datapoint.application != undefined">
      <p>type data selecteren</p>
      <select v-model="datapoint.type">
        <option value>--</option>
        <option
          :value="dataOption"
          v-for="dataOption in dataOptions[0].data_option_names"
          v-bind:key="dataOption"
          >{{ dataOption }}</option
        >
      </select>
    </div>

    <div v-show="dataProgress >= 2">
      <p>Stap 3</p>
      <p>
        Datapoint aangemaakt voor {{ datapoint.application }}
        {{ datapoint.type }}!
      </p>
    </div>

    <div>
      <button v-on:click="validateData(dataProgress)">Volgende</button>
      <button v-on:click="logData">logdata</button>
    </div>
    <MagentoLogin v-show="false"></MagentoLogin>
  </div>
</template>

<style lang="scss" scoped>
p {
  margin: 8px 0;
}
</style>

<script>
import MagentoLogin from "@/components/datapoint/MagentoLogin.vue";

export default {
  name: "AddDataPoint",

  components: {
    MagentoLogin
  },

  prop: {},

  async created() {
    this.fillDataPossibilities();
    // await this.$store.dispatch("getApplications");
    await this.$store.dispatch("getClients");
  },

  computed: {
    applications() {
      return this.$store.getters.applications;
    },

    clients() {
      return this.$store.getters.clients;
    },

    selectedClient() {
      return this.datapoint.client;
    },

    dataOptions() {
      return this.applications.filter(
        a => a.name == this.datapoint.application
      );
    }
  },

  data() {
    return {
      datapoint: {},
      dataProgress: 0,
      stepProgress: 0,
      customerProgress: 0,

      // hardcoded data
      dataPossibilities: [],

      // errors
      error: {
        message: ""
      }
    };
  },

  methods: {
    logData() {
      console.log("datapointdata: ", this.datapoint.client.links);
    },

    fillDataPossibilities() {
      this.dataPossibilities = {
        clients: [
          { id: "1", name: "Molders", platform: ["Molders.be", "Molders.nl"] },
          { id: "2", name: "FFDI", platform: ["her.be", "her.nl", "He.be"] },
          {
            id: "3",
            name: "luxeteenslippers",
            // indien er maar één platform aanwezig is, zeker zorgen dat het in een array zit!
            platform: ["luxeteenslippers.be"]
          }
        ],
        applications: [
          { name: "magento" },
          { name: "statuscake" },
          { name: "teamleader" }
        ],
        possibilities: [
          {
            name: "orders",
            id: 1,
            application: "magento"
          },
          {
            name: "return",
            id: 2,
            application: "magento"
          },
          {
            name: "website status",
            id: 3,
            application: "statuscake"
          },
          {
            name: "project status",
            id: 4,
            application: "teamleader"
          }
        ]
      };
    },

    validateData(dataProgress) {
      //dit is poc validatie!
      switch (dataProgress) {
        case 0:
          if (this.datapoint.application != undefined) {
            this.dataProgress = 1;
            this.error.message = "";
          } else {
            this.error.message = "gelieve een applicatie te selecteren.";
          }
          break;
        case 1:
          // if (this.datapoint.lastName != "") {
          this.dataProgress = 2;
          // }
          break;
        default:
        // code block
      }
    }
  }
};
</script>
