<template>
  <div>
    <div class="test">
      <FirstChart :chartdata="chartdata1" :options="options"></FirstChart>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.test {
  max-width: 50%;
  max-height: 50%;
}
</style>

<script>
import FirstChart from "@/components/chartjs/FirstChart.vue";

export default {
  name: "Chartjs",

  components: {
    FirstChart
  },

  data() {
    return {
      chartdata1: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "# of Votes",
            data: [12, 19, 3, 5, 20, 3],
            backgroundColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)"
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)"
            ],
            borderWidth: 1
          }
        ]
      },
      options: {}
    };
  }
};
</script>
