<template>
  <div class="home">
    <div class="home-content">
      <div class="home-searchbar-container">
        <div class="c-input__searchbar-container">
          <input
            class="c-input__searchbar home-searchbar"
            type="text"
            placeholder="Zoek een klant op naam"
            v-model="storeNameSearchbar"
          />
          <img
            src="@/assets/images/icons/hourglass_48px.png"
            alt=""
            width="24"
            height="24"
            class="c-input__searchbar-icon"
          />
        </div>
        <div class="home-filter-container">
          <div class="u-display-flex u-align-items-center">
            <p class="u-font-weight-bold home-filter-title">FILTER:</p>
            <p
              class="home-filter-item"
              :class="{
                'u-accent-secondary': currentFilter != 'returnDes',
                'u-primary-text-color': currentFilter == 'returnDes',
              }"
              v-on:click="filterStores('returnDes')"
            >
              Toppers
            </p>
            <p
              class="home-filter-item"
              :class="{
                'u-accent-secondary': currentFilter != 'returnAsc',
                'u-primary-text-color': currentFilter == 'returnAsc',
              }"
              v-on:click="filterStores('returnAsc')"
            >
              Floppers
            </p>
          </div>
          <div class="u-cursor-pointer" v-on:click="showDetails = !showDetails">
            <img
              v-show="showDetails == false"
              src="@/assets/images/icons/list_view.svg"
              alt="list_view.svg"
            />
            <img
              v-show="showDetails == true"
              src="@/assets/images/icons/grid_view.svg"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- {{ stores }} -->
      <div v-if="showDetails == true" class="home-store-overview-container">
        <store-overview
          v-for="store in storeOverview"
          :key="store.id"
          :store="store"
        ></store-overview>
      </div>
      <div v-else class="home-store-overview-container u-mt-l">
        <div class="home-store-overview-header-container u-font-weight-bold">
          <p>Webshop</p>
          <p>Prio</p>
          <p>Klant</p>
          <div class="u-display-flex u-position-relative">
            <p
              v-on:click="
                currentFilter == 'ordersDes'
                  ? filterStores('ordersAsc')
                  : filterStores('ordersDes')
              "
              class="u-cursor-pointer"
            >
              Orders 7d
            </p>
            <div
              :class="{
                'home-filter-asc': currentFilter == 'ordersAsc',
                'home-filter-des': currentFilter == 'ordersDes',
              }"
            ></div>
          </div>

          <div class="u-display-flex u-position-relative">
            <p
              v-on:click="
                currentFilter == 'returnDes'
                  ? filterStores('returnAsc')
                  : filterStores('returnDes')
              "
              class="u-cursor-pointer"
            >
              Omzet 7d
            </p>
            <div
              :class="{
                'home-filter-asc': currentFilter == 'returnAsc',
                'home-filter-des': currentFilter == 'returnDes',
              }"
            ></div>
          </div>

          <div class="u-display-flex u-position-relative">
            <p
              v-on:click="
                currentFilter == 'avgCartDes'
                  ? filterStores('avgCartAsc')
                  : filterStores('avgCartDes')
              "
              class="u-cursor-pointer"
            >
              Avg cart
            </p>
            <div
              :class="{
                'home-filter-asc': currentFilter == 'avgCartAsc',
                'home-filter-des': currentFilter == 'avgCartDes',
              }"
            ></div>
          </div>
        </div>
        <store-overview-list
          v-for="store in storeOverview"
          :key="store.id"
          :store="store"
        ></store-overview-list>
      </div>
      <div class="home-store-overview-compact-container">
        <store-overview-compact
          v-for="store in storeOverview"
          :key="store.id"
          :store="store"
        ></store-overview-compact>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.home {
  background-color: #00000000;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--gutter-5);
}

.home-searchbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.home-searchbar {
  width: 100%;
}

.home-filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gutter-3);
}

.home-filter-title {
  margin-right: var(--gutter-2);
}

.home-filter-item {
  margin-right: var(--gutter);
}

.home-filter-selected {
  color: var(--primary-text-color);
}

.home-filter-item:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
.home-store-overview-container {
  width: 100%;
}

.home-store-overview-header-container {
  display: grid;
  grid-auto-columns: 20% 5% calc(20% - calc(var(--gutter-5))) 18.33% 18.33%
    18.33%;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.home-store-overview-compact-container {
  display: none;
}

.home-filter-asc::after {
  content: "";
  width: 14px;
  height: 18px;

  background-image: url("/img/icons/sort_by_asc.svg");
  background-repeat: no-repeat;

  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
}

.home-filter-des::after {
  content: "";
  width: 14px;
  height: 18px;

  background-image: url("/img/icons/sort_by_des.svg");
  background-repeat: no-repeat;

  position: absolute;
  margin-left: 4px;
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .home-store-overview-compact-container {
    display: block;
    width: calc(100% - var(--gutter-4));
  }
  .home-store-overview-container {
    display: none;
  }
  .home-content {
    margin: 0 var(--gutter-2);
  }
}

@media screen and (max-width: 500px) {
  .home-content {
    margin: 0;
  }
  .home-store-overview-header-container {
    display: none;
  }
  .home-store-overview-compact-container {
    margin: 0 var(--gutter-2);
  }
  .home-filter-container {
    margin-left: var(--gutter-2);
  }
}

@media screen and (min-width: 620px) {
  .home-searchbar-container {
    min-width: 35vw;
    max-width: 45vw;
  }
}
</style>

<script>
// @ is an alias to /src
import StoreOverview from "@/components/StoreOverview.vue";
import StoreOverviewList from "@/components/StoreOverviewList.vue";
import StoreOverviewCompact from "@/components/StoreOverviewCompact.vue";

export default {
  name: "Home",

  components: {
    StoreOverview,
    StoreOverviewList,
    StoreOverviewCompact,
  },

  data() {
    return {
      storeNameSearchbar: "",
      currentFilter: "",
      showDetails: false,
    };
  },

  computed: {
    storeOverview() {
      if (this.storeNameSearchbar == "") {
        return this.$store.getters.storeOverview;
      } else {
        return this.$store.getters.storeOverview.filter(
          (c) =>
            c.name
              .toLowerCase()
              .includes(this.storeNameSearchbar.toLowerCase()) ||
            c.client.name
              .toLowerCase()
              .includes(this.storeNameSearchbar.toLowerCase())
        );
      }
    },
  },

  async created() {
    //await this.$store.dispatch("getMagentoData");
    //await this.$store.dispatch("getStores");
    await this.$store.dispatch("getAllStoreOverview");
  },

  methods: {
    filterStores(criteria) {
      console.log("filter: ", criteria);
      this.currentFilter = criteria;

      switch (criteria) {
        case "ordersAsc":
          this.sortOrdersAsc();
          break;

        case "ordersDes":
          this.sortOrdersDes();
          break;

        case "avgCartAsc":
          this.sortAvgCartAsc();
          break;

        case "avgCartDes":
          this.sortAvgCartDes();
          break;

        case "returnDes":
          this.sortReturnDes();
          break;

        case "returnAsc":
          this.sortReturnAsc();
          break;

        default:
        // niets doen
      }
    },

    sortReturnAsc() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.total_revenue;
        const decreaseValB = b.magento_data.current.total_revenue;

        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return 1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return -1;
        }

        return 0;
      });
    },
    sortReturnDes() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.total_revenue;
        const decreaseValB = b.magento_data.current.total_revenue;
        if (decreaseValB == 0 && decreaseValA == 0) {
          return -2;
        }
        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return -1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return 1;
        }

        return 0;
      });
    },

    sortOrdersAsc() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.amount_orders;
        const decreaseValB = b.magento_data.current.amount_orders;

        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return 1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return -1;
        }

        return 0;
      });
    },

    sortOrdersDes() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.amount_orders;
        const decreaseValB = b.magento_data.current.amount_orders;

        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return -1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return 1;
        }

        return 0;
      });
    },

    sortAvgCartAsc() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.average_order;
        const decreaseValB = b.magento_data.current.average_order;

        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return 1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return -1;
        }

        return 0;
      });
    },

    sortAvgCartDes() {
      this.storeOverview.sort(function(a, b) {
        const decreaseValA = a.magento_data.current.average_order;
        const decreaseValB = b.magento_data.current.average_order;

        if (parseInt(decreaseValA) > parseInt(decreaseValB)) {
          return -1;
        }
        if (parseInt(decreaseValA) < parseInt(decreaseValB)) {
          return 1;
        }

        return 0;
      });
    },
  },
};
</script>
