<template>
  <main class="login-content-container">
    <div>
      <img
        src="@/assets/images/logos/logo_final.png"
        alt=""
        width="100"
        height="75"
      />
    </div>
    <div class="login-form-container">
      <div class="u-mt-m">
        <label class="u-font-weight-bold u-mt-s" for="email">Email</label>
        <input
          class="c-input2  u-mt-xs"
          type="email"
          v-model="loginData.email"
          placeholder="jouw.naam@indiegroup.be"
        />
      </div>
      <div class="u-mt-m">
        <label class="u-font-weight-bold" for="password">Wachtwoord</label>
        <input
          class="c-input2 u-mt-xs"
          type="password"
          v-model="loginData.password"
          placeholder="••••••••"
          v-on:keyup.enter="customAuthentication"
        />
      </div>
      <div
        class="u-mt-l u-display-flex u-justify-content-space-between u-align-items-center"
      >
        <default-load-animation :status="loginStatus"></default-load-animation>
        <button class="c-button" v-on:click="customAuthentication">
          Inloggen
        </button>
      </div>
    </div>
    <div>
      <!-- hier komt de teamleader login -->
    </div>
  </main>
</template>

<style lang="scss" scoped>
.login-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login-form-container {
  min-width: 325px;
}
</style>

<script>
import DefaultLoadAnimation from "@/components/DefaultLoadAnimation.vue";

export default {
  name: "login",

  components: {
    DefaultLoadAnimation,
  },

  computed: {},

  data() {
    return {
      loginData: {
        email: "",
        password: "",
      },
      loginStatus: 0,
    };
  },

  created() {},

  methods: {
    async customAuthentication() {
      let formdata = new FormData();
      formdata.append("email", this.loginData.email);
      formdata.append("password", this.loginData.password);
      this.loginStatus = 1;
      const response = await this.$store.dispatch("login", formdata);
      if (response.jwt != undefined) {
        //login succes
        this.loginStatus = 2;
        this.$router.push({ path: "/" });
      } else {
        console.log("login failed");
        this.loginStatus = 3;
      }
    },

    async teamleaderAuthentication() {},
  },
};
</script>
