<template>
  <main class="login-content-container">
    <div>
      <img
        src="@/assets/images/logos/indie_group_logo_200px.png"
        alt=""
        width="100"
        height="49"
      />
    </div>
    <div class="login-form-container">
      <div class="u-mt-m">
        <label class="u-font-weight-bold u-mt-s" for="email">Email</label>
        <input
          class="c-input2  u-mt-xs"
          type="email"
          v-model="registerData.email"
          placeholder="jouw.naam@indiegroup.be"
        />
      </div>
      <div class="u-mt-m">
        <label class="u-font-weight-bold u-mt-s" for="email"
          >Gebruikersnaam</label
        >
        <input
          class="c-input2  u-mt-xs"
          type="text"
          v-model="registerData.username"
          placeholder="Christophe"
        />
      </div>
      <div class="u-mt-m">
        <label class="u-font-weight-bold" for="password">Wachtwoord</label>
        <input
          class="c-input2 u-mt-xs"
          type="password"
          v-model="registerData.password"
          placeholder="••••••••"
          v-on:keyup.enter="customAuthentication"
        />
      </div>
      <div
        class="u-mt-l u-display-flex u-justify-content-space-between u-align-items-center"
      >
        <div></div>
        <!-- <default-load-animation></default-load-animation> -->
        <button class="c-button" v-on:click="register">
          Account aanmaken
        </button>
      </div>
    </div>
    <div>
      <!-- hier komt de teamleader login -->
    </div>
  </main>
</template>

<style lang="scss" scoped>
.login-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login-form-container {
  min-width: 325px;
}
</style>

<script>
export default {
  name: "register",

  data() {
    return {
      registerData: {},
    };
  },

  methods: {
    async register() {
      console.log("register");

      var urlParams = new URLSearchParams();

      for (let key in this.registerData) {
        urlParams.append(key, this.registerData[key]);
      }
      this.$store.dispatch("register", urlParams);
    },
  },
};
</script>
