<template>
  <div class="soap-user-content-container">
    <div class="u-mb-m">
      <h1 class="c-title u-mb-s">SOAP gebruiker aanmaken</h1>
      <p>
        Om via dit platform aan de data van een magento 1 shop te kunnen moet
        eerst een SOAP gebruiker aangemaakt worden. Geen paniek dit is niet zo
        moeilijk, hieronder wordt stap voor stap uitgelegd hoe je dat doet.
      </p>
    </div>

    <div class="u-mb-m">
      <div class="u-display-flex u-align-items-center u-mb-s">
        <div class="number-circle">
          <p
            class="u-display-flex u-justify-content-center u-align-items-center"
          >
            1
          </p>
        </div>
        <h2 class="c-subtitle ">
          Inloggen bij Magento
        </h2>
      </div>
      <div>
        <p>
          Surf naar het adminpaneel van de webshop die je wilt toevoegen, de
          inloggegevens zitten normaal gezien in LastPass.
        </p>
      </div>
    </div>

    <div class="u-mb-m">
      <div class="u-display-flex u-align-items-center u-mb-s">
        <div class="number-circle">
          <p
            class="u-display-flex u-justify-content-center u-align-items-center"
          >
            2
          </p>
        </div>
        <h2 class="c-subtitle">
          Maak een SOAP-rol aan
        </h2>
      </div>
      <div>
        <p>
          Een SOAP rol kan je aanmaken door binnen het adminpaneel naar System >
          Web Services > SOAP/XML-RPC - Roles te navigeren en dan rechtsboven op
          "Add New Role" te klikken.
        </p>
        <h3 class="u-mt-s u-font-weight-bold">Verplichte velden:</h3>
        <p class="u-mt-xs">
          - 'Role name': best een standaardnaam zoals 'superadmin_role'.
        </p>
        <p>
          - 'Current Admin Password': het wachtwoord dat je in de vorige stap
          hebt gebruikt om in te loggen op het adminpaneel.
        </p>

        <h3 class="u-mt-s u-font-weight-bold">Opmerking:</h3>
        <p class="u-mt-xs">
          Onder 'Role Resources' of 'Rol bronnen' moet je toegang geven tot alle
          resources zodat het platform aan de data van de shop kan.
        </p>
      </div>
    </div>

    <div class="u-mb-m">
      <div class="u-display-flex u-align-items-center u-mb-s">
        <div class="number-circle">
          <p
            class="u-display-flex u-justify-content-center u-align-items-center"
          >
            3
          </p>
        </div>
        <h2 class="c-subtitle">
          Maak een SOAP-gebruiker aan
        </h2>
      </div>
      <div>
        <p>
          Een SOAP gebruiker kan je aanmaken door binnen het adminpaneel naar
          System > Web Services > SOAP/XML-RPC - Users te navigeren en dan
          rechtsboven op "Add New User" te klikken.
        </p>
        <h3 class="u-mt-s u-font-weight-bold">Verplichte velden:</h3>
        <p class="u-mt-xs">
          - 'Username': best een standaardnaam zoals 'superadmin_api'.
        </p>
        <p>
          - 'Firstname': je eigen voornaam.
        </p>
        <p>
          - 'Lastname': je eigen achternaam.
        </p>
        <p>
          - 'E-mail': je Indie Group e-mail adres.
        </p>
        <p>
          - 'Current Admin Password': het wachtwoord dat je in stap 1 hebt
          gebruikt in te loggen op het adminpaneel.
        </p>
        <p>
          - 'API Key': het wachtwoord dat je wil koppelen aan de SOAP-gebruiker
          die je nu aan het aanmaken bent.
          <span class="u-font-weight-bold"
            >Schrijf dit wachtwoord ergens op, je zal het nodig hebben om de
            magentoshop te linken aan dit platform.</span
          >
        </p>
        <p>
          - 'API Key Confirmation': herhaal het wachtwoord dat je onder 'API
          Key' hebt ingegeven.
        </p>

        <h3 class="u-mt-s u-font-weight-bold">Opmerking:</h3>
        <p class="u-mt-xs">
          Vergeet niet om onder 'User Role' of 'Rol van gebruiker' de rol te
          selecteren die je in stap 2 gemaakt hebt. Anders zal je SOAP-gebruiker
          geen toegang krijgen tot het platform.
        </p>
      </div>
    </div>
    <div class="u-mb-m">
      <div class="u-display-flex u-align-items-center u-mb-s">
        <div class="number-circle">
          <p
            class="u-display-flex u-justify-content-center u-align-items-center"
          >
            4
          </p>
        </div>
        <h2 class="c-subtitle">
          Gebruik deze SOAP-gebruiker om via dit platform een connectie te
          leggen met de magentoshop.
        </h2>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.number-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 8px;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);

  background: #242424;
  color: white;
}
.soap-user-content-container {
  max-width: 720px;
  margin: 0 auto;
  padding: var(--gutter-5);
}
</style>

<script>
export default {
  name: "SoapUser",
};
</script>
