<template>
  <div class="custom-input-select">
    <input
      class="c-input2"
      type="text"
      v-model="input"
      v-on:keyup="getOptions"
    />
    <div v-if="options != {}" name="" id="" class="dropdown-content">
      <p
        class="dropdown-item"
        v-for="option in options"
        :key="option.teamleader_id"
        v-on:click="selectOption(option)"
      >
        {{ option.name }}
      </p>
    </div>
    <div>
      {{ selectedOption }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
.custom-input-select {
  max-width: 250px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: var(--secondary-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid var(--secondary-accent-color);
  border-radius: var(--border-radius);
}

.dropdown-item {
  padding: var(--gutter);
}

.dropdown-item:hover {
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}
</style>

<script>
export default {
  name: "UpdateDataPoint",

  data() {
    return {
      input: "",
      options: {},
      selectedOption: {},
    };
  },

  computed: {
    dataPointId() {
      return this.$route.params.dataPointId;
    },

    dataPointData() {
      console.log(this.$store.getters.dataPoints);
      return this.$store.getters.dataPoints.find(
        (d) => d.id == this.dataPointId
      );
    },
  },

  methods: {
    getOptions: _.debounce(async function() {
      this.options = await this.$store.dispatch(
        "getTeamderClientsByName",
        this.input
      );
    }, 1000),
    selectOption(option) {
      console.log("selectedopiton: ", option);
      this.selectedOption = option;
      this.options = {};
      this.input = option.name;
    },

    //eerst load animation
    //fetch starten
  },
};
</script>
