<template>
  <div>
    <!-- succes -->

    <svg
      v-show="status == 2"
      xmlns="http://www.w3.org/2000/svg"
      width="34"
      height="34"
      viewBox="0 0 34 34"
    >
      <g id="Group_109" data-name="Group 109" transform="translate(-677 -740)">
        <g
          id="Ellipse_25"
          data-name="Ellipse 25"
          transform="translate(677 740)"
          fill="#2fcc74"
          stroke="#2fcc74"
          stroke-width="2"
        >
          <circle cx="17" cy="17" r="17" stroke="none" />
          <circle cx="17" cy="17" r="16" fill="none" />
        </g>
        <path
          id="ic_check_24px"
          d="M9,16.17,4.83,12,3.41,13.41,9,19l8.748-9.122L16.492,8.55Z"
          transform="translate(683.59 743.41)"
          fill="#fff"
        />
      </g>
    </svg>

    <!-- error -->
    <svg
      v-show="status == 3"
      xmlns="http://www.w3.org/2000/svg"
      width="34"
      height="34"
      viewBox="0 0 34 34"
    >
      <g id="Group_110" data-name="Group 110" transform="translate(-954 -839)">
        <circle
          id="Ellipse_25"
          data-name="Ellipse 25"
          cx="17"
          cy="17"
          r="17"
          transform="translate(954 839)"
          fill="#cc2f3b"
        ></circle>
        <text
          id="X"
          transform="translate(966 862)"
          fill="#fff"
          font-size="16"
          font-family="SofiaPro-Bold, Sofia Pro"
          font-weight="700"
          letter-spacing="0.01em"
        >
          <tspan x="0" y="0">X</tspan>
        </text>
      </g>
    </svg>

    <!-- laden -->
    <svg
      v-show="status == 1"
      version="1.1"
      id="L4"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 100 100"
      enable-background="new 0 0 0 0"
      xml:space="preserve"
    >
      <circle class="fill" stroke="none" cx="6" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite"
          begin="0.1"
        />
      </circle>
      <circle class="fill" stroke="none" cx="26" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite"
          begin="0.2"
        />
      </circle>
      <circle class="fill" stroke="none" cx="46" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite"
          begin="0.3"
        />
      </circle>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.green-accent-fill {
  fill: var(--green-accent);
}

.fill {
  fill: var(--primary-accent-color);
}

.move-3 {
  animation: move-3;
}

@keyframes move-3 {
  from {
    r: 10;
  }

  75% {
    r: 50;
  }

  to {
    r: 35;
  }
}
</style>

<script>
export default {
  name: "DefaultLoadAnimation",
  props: {
    status: {
      type: Number,
      default: 0,
    },
  },
};
</script>
