<template>
  <div class="hoverable-info-container">
    <div class="hoverable-info-image-container">
      <img src="@/assets/images/icons/info.svg" alt="" width="16" height="16" />
    </div>
    <div class="hoverable-info-text-container">
      <p class="hoverable-info-text">{{ message }}</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hoverable-info-container:hover {
  .hoverable-info-text-container {
    display: block;
  }
}
.hoverable-info-text-container {
  display: none;
  position: absolute;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-accent-color);
  border-radius: var(--border-radius);
  padding: var(--gutter);
  max-width: 175px;
  max-height: 250px;
}
.hoverable-info-text {
  white-space: pre-wrap;
  overflow: auto;
  text-overflow: ellipsis;
}
</style>

<script>
export default {
  name: "HoverableInfo",

  props: {
    message: String,
  },
};
</script>
