<template>
  <div class="progression-container">
    <div class="progression-content-container">
      <p class="c-subtitle progression-title">Datastroom toevoegen</p>
      <div class="progression-list-container">
        <!-- algemeen eerste stap -->
        <step-progression-item
          step="1"
          :isCurrent="true"
          :isCompleted="progressionData.step > 0 ? true : false"
          message="Wat wil je toevoegen?"
          :lastItem="progressionData.step == 0 ? true : false"
        ></step-progression-item>

        <!-- klant toevoegen stappen -->
        <step-progression-item
          v-if="
            progressionData.type == 'client' ||
              progressionData.type == 'client-magento1' ||
              progressionData.type == 'client-magento2'
          "
          step="2"
          :isCurrent="progressionData.step > 0 ? true : false"
          :isCompleted="progressionData.step > 1 ? true : false"
          message="Klant toevoegen"
          :lastItem="progressionData.step > 1 ? true : false"
        ></step-progression-item>

        <!-- klant toevoegen en meteen data koppelen -->
        <step-progression-item
          v-if="
            progressionData.type == 'client' ||
              progressionData.type == 'client-magento1' ||
              progressionData.type == 'client-magento2'
          "
          step="3"
          :isCurrent="progressionData.step > 1 ? true : false"
          :isCompleted="progressionData.step > 2 ? true : false"
          message="Data toevoegen aan klant"
          :lastItem="progressionData.step < 3 ? true : false"
        ></step-progression-item>

        <step-progression-item
          v-if="progressionData.type == 'client-magento1'"
          step="4"
          :isCurrent="progressionData.step > 2 ? true : false"
          :isCompleted="progressionData.step > 3 ? true : false"
          message="Instellingen CMS"
          :lastItem="progressionData.step < 3 ? true : false"
        ></step-progression-item>
        <step-progression-item
          v-if="progressionData.type == 'client-magento1'"
          step="5"
          :isCurrent="progressionData.step > 3 ? true : false"
          :isCompleted="progressionData.step > 4 ? true : false"
          message="Inloggen"
          :lastItem="true"
        ></step-progression-item>
        <step-progression-item
          v-if="progressionData.type == 'client-magento2'"
          step="4"
          :isCurrent="progressionData.step > 2 ? true : false"
          :isCompleted="progressionData.step > 3 ? true : false"
          message="Inloggen"
          :lastItem="true"
        ></step-progression-item>

        <!-- magento algemene stappen -->
        <step-progression-item
          v-if="
            progressionData.type == 'magento1' ||
              progressionData.type == 'magento2'
          "
          step="2"
          :isCurrent="true"
          :isCompleted="progressionData.step > 1 ? true : false"
          message="Selecteer klant"
        ></step-progression-item>

        <!-- magento 1 stappen -->
        <step-progression-item
          v-if="progressionData.type == 'magento1'"
          step="3"
          :isCurrent="progressionData.step > 1 ? true : false"
          :isCompleted="progressionData.step > 2 ? true : false"
          message="Instellingen CMS"
          :lastItem="false"
        ></step-progression-item>
        <step-progression-item
          v-if="progressionData.type == 'magento1'"
          step="4"
          :isCurrent="progressionData.step > 2 ? true : false"
          :isCompleted="progressionData.step > 3 ? true : false"
          message="Inloggen"
          :lastItem="true"
        ></step-progression-item>

        <!-- magento 2 stappen -->
        <step-progression-item
          v-if="progressionData.type == 'magento2'"
          step="3"
          :isCurrent="progressionData.step > 1 ? true : false"
          :isCompleted="progressionData.step > 2 ? true : false"
          message="Inloggen"
          :lastItem="true"
        ></step-progression-item>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.progression-container {
  border-right: 2px solid var(--secondary-accent-color);
  //width: 200px;
  position: fixed;
  height: 100vh;
  top: 0;
  padding: var(--gutter-3);
}

.progression-content-container {
  margin-top: var(--gutter-5);
}

.progression-list-container {
  margin-top: var(--gutter-3);
}
@media screen and(max-width: 1111px) {
  .progression-title {
    display: none;
  }
}
</style>

<script>
import StepProgressionItem from "@/components/StepProgressionItem.vue";

export default {
  name: "ProgressionOverview",

  components: {
    StepProgressionItem,
  },

  props: {
    progressionData: Object,
  },
};
</script>
