<template>
  <div class="progression-item-container">
    <div v-if="isCompleted == false">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 34 34"
        class="progression-item-icon"
        :class="{ 'progression-last-item-margin': lastItem }"
      >
        <g transform="translate(-288 -246)">
          <g
            transform="translate(288 246)"
            fill="none"
            class="reg-stroke"
            :class="{ 'current-stroke': isCurrent }"
            stroke-width="2"
          >
            <circle cx="17" cy="17" r="17" stroke="none" />
            <circle cx="17" cy="17" r="16" fill="none" />
          </g>
          <text
            transform="translate(301 268)"
            class="reg-fill"
            :class="{ 'current-fill': isCurrent }"
            font-size="16"
            font-family="SofiaPro-Bold, Sofia Pro"
            font-weight="700"
          >
            <tspan x="0" y="0">{{ step }}</tspan>
          </text>
        </g>
      </svg>

      <svg
        v-show="lastItem == false"
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="20"
        viewBox="0 0 2 20"
        class="progression-connection"
      >
        <path
          d="M2888,3151v20"
          transform="translate(-2887 -3151)"
          fill="none"
          class="reg-stroke"
          stroke-width="2"
        />
      </svg>
    </div>
    <div v-else>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 34 34"
        class="progression-item-icon"
      >
        <g transform="translate(-288 -193)">
          <g
            transform="translate(288 193)"
            fill="#0eb959"
            stroke="#0eb959"
            stroke-width="2"
          >
            <circle cx="17" cy="17" r="17" stroke="none" />
            <circle cx="17" cy="17" r="16" fill="none" />
          </g>
          <path
            d="M9,16.17,4.83,12,3.41,13.41,9,19l8.748-9.122L16.492,8.55Z"
            transform="translate(294.59 197.41)"
            fill="#fdfdfd"
          />
        </g>
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2"
        height="20"
        viewBox="0 0 2 20"
        class="progression-connection"
      >
        <path
          d="M2888,3151v20"
          transform="translate(-2887 -3151)"
          fill="none"
          class="current-stroke"
          stroke-width="2"
        />
      </svg>
    </div>

    <p
      :class="{ 'current-color': isCurrent }"
      class="progression-item-text u-font-weight-bold"
    >
      {{ message }}
    </p>
  </div>
</template>

<style lang="scss" scoped>
.progression-item-container {
  display: flex;
  align-items: center;
  margin-top: var(--gutter-2);
  .progression-item-icon {
    margin-right: var(--gutter);
  }
  .progression-last-item-margin {
    //de lijn tusen de bollen neemt 2px margin in, dus margin vergroten met 2px als het bol is zonder lijn.
    margin-right: calc(var(--gutter) + 2px);
  }
}

.progression-connection {
  position: relative;
  top: 20px;
  left: -26px;
}

.reg-stroke {
  stroke: var(--secondary-accent-color);
}

.reg-fill {
  fill: var(--secondary-accent-color);
}

.progression-item-text {
  color: var(--secondary-accent-color);
}

.current-stroke {
  stroke: var(--green-accent);
}

.current-fill {
  fill: var(--green-accent);
}

.current-color {
  color: var(--green-accent);
}

@media screen and (max-width: 1111px) {
  .progression-item-text {
    display: none;
  }
}
</style>

<script>
export default {
  name: "StepProgresssionItem",

  props: {
    step: "",
    isCurrent: Boolean,
    isCompleted: {
      type: Boolean,
      default: false,
    },
    message: String,
    lastItem: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      //isCurrent: true,
    };
  },
};
</script>
