<template>
  <div class="store-overview u-box-shadow">
    <div class="store-overview-accent-shape-container">
      <img
        src="@/assets/images/shapes/vleugel.png"
        alt=""
        class="store-overview-accent-shape"
      />
    </div>

    <div class="store-overview-header-container" v-if="store != {}">
      <div class="store-overview-header-update-container">
        <p class="u-font-weight-bold u-accent-secondary">5 minutes ago</p>
        <!-- never forget deze twee images van in het design -->
        <div class="store-overview-header-icon-container" v-show="false">
          <p>image</p>
          <p>image</p>
        </div>
      </div>
      <div class="store-overview-header-name-priority-container">
        <input
          type="text"
          class="c-title u-border-none"
          v-model="store.name"
          :size="store.name.length"
          v-on:blur="updateStore"
          v-on:keyup.enter="$event.target.blur()"
        />
        <select
          class="store-overview-header-priority
          c-subtitle
          u-accent-primary
          u-border-none"
          v-model="store.client.prioriteit"
          v-on:blur="updateStore"
          v-on:keyup.enter="$event.target.blur()"
        >
          <option>2</option>
          <option>1</option>
          <option>0</option>
        </select>
      </div>
      <p class="store-overview-header-description u-border-none">
        klant:
        {{ store.client.name }}
      </p>
    </div>

    <div
      class="store-overview-performance-container"
      v-if="isPerformanceDataAvailable == true"
    >
      <div class="store-performance-item-container">
        <p class="u-secondary-text-color bp-1-hidden">Laatste 7 dagen</p>

        <div class="store-performance-item-stat-container  u-text-align-center">
          <p class="store-performance-item-stat">
            €{{ store.magento_data.current.average_order.toFixed(2) }}
          </p>

          <p class="store-performance-item-type">
            € / order
          </p>
        </div>
        <div class="store-performance-item-change-container">
          <p>
            <img
              v-if="calculatedData.averageOrderChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.averageOrderChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.averageOrderChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.averageOrderChange) }}%</span
            >
          </p>
          <p class="bp-1-hidden">
            €{{ store.magento_data.previous.average_order.toFixed(2) }}
          </p>
        </div>

        <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
      </div>

      <!-- total revenue -->
      <div class="store-performance-item-container">
        <p class="u-secondary-text-color bp-1-hidden">Laatste 7 dagen</p>

        <div class="store-performance-item-stat-container">
          <p class="store-performance-item-stat u-text-align-center">
            €{{ store.magento_data.current.total_revenue }}
          </p>

          <p class="store-performance-item-type u-text-align-center">
            omzet
          </p>
        </div>
        <div class="store-performance-item-change-container">
          <p>
            <img
              v-if="calculatedData.revenueChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.revenueChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.revenueChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.revenueChange) }}%</span
            >
          </p>
          <p class="bp-1-hidden">
            €{{ store.magento_data.previous.total_revenue }}
          </p>
        </div>

        <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
      </div>
      <div class="store-performance-item-container">
        <p class="u-secondary-text-color bp-1-hidden">Laatste 7 dagen</p>

        <div class="store-performance-item-stat-container">
          <p class="store-performance-item-stat u-text-align-center">
            {{ store.magento_data.current.amount_orders }}
          </p>

          <p class="store-performance-item-type u-text-align-center">
            orders
          </p>
        </div>
        <div class="store-performance-item-change-container">
          <p>
            <img
              v-if="calculatedData.orderChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.orderChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.orderChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.orderChange) }}%</span
            >
          </p>
          <p class="bp-1-hidden">
            {{ store.magento_data.previous.amount_orders }}
          </p>
        </div>

        <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
      </div>
    </div>
    <div class="store-overview-performance-container" v-else>
      Geen magentodata/incorrecte magentodata voor deze klant...
    </div>

    <div v-show="showDetails" class="store-overview-info-container">
      <div class="store-overview-info-item-container">
        <div class="store-overview-info-title-container">
          <p class="c-subtitle">Stores</p>
          <img
            class="store-overview-info-add-btn"
            src="@/assets/images/icons/add_sign.svg"
            alt=""
            width="24"
            height="24"
          />
        </div>

        <p>www.colora.be</p>
        <p>www.colora.fr</p>
      </div>
      <div class="store-overview-info-title-container">
        <p class="c-subtitle">Feedback</p>
      </div>
      <div class="store-overview-info-title-container">
        <p>Laatste feedback</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
//store overview
.store-overview {
  padding: var(--gutter-5);
  background-color: var(--primary-background-color);
  margin: var(--gutter-3) 0;
  border-radius: var(--border-radius);
}

.store-overview-accent-shape-container {
  position: relative;
}
.store-overview-accent-shape {
  position: absolute;
  left: -40px;
}

//store overview header
.store-overview-header-update-container {
  display: flex;
  justify-content: space-between;
}

.store-overview-header-icon-container {
  display: flex;
}

.store-overview-header-name-priority-container {
  display: flex;
  margin: var(--gutter-3) 0;
}

.store-overview-header-priority {
  margin-left: var(--gutter-half);
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.store-overview-header-description {
  width: 100%;
  padding: var(--gutter-half);
}

// store performance
.store-overview-performance-container {
  display: flex;
}

.store-performance-item-container {
  background-color: var(--secondary-background-color);
  padding: var(--gutter-2);
  margin: var(--gutter-2) var(--gutter-2) var(--gutter) 0;
  text-align: left;
  width: calc(33% - var(--gutter-5));
  border-radius: var(--border-radius);
}
.store-performance-item-container:nth-child(3) {
  margin-right: 0;
}

.store-performance-item-stat {
  font-weight: 600;
  font-size: 32px;
}

.store-performance-item-stat-container {
  margin-top: calc(var(--gutter-5) + var(--gutter-2));
  margin-bottom: var(--gutter-5);
}

.store-performance-item-type {
  font-weight: 400;
  margin-bottom: var(--gutter-3);
}
.store-performance-item-change-container {
  margin-bottom: var(--gutter);
}

// store overview info
.store-overview-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gutter-3);
}

.store-overview-info-title-container {
  display: flex;
  margin-bottom: var(--gutter-2);
}
.store-overview-info-add-btn {
  margin-left: var(--gutter);
}

@media screen and (max-width: 425px) {
  .store-overview {
    margin: var(--gutter-2);
    padding: var(--gutter-2);
  }
  .store-overview-performance-container {
    flex-wrap: wrap;
  }
  .store-performance-item-container {
    padding: var(--gutter);
    width: calc(50% - var(--gutter-3));
    :nth-child(2) {
      margin-right: 0;
    }
  }
  .store-performance-item-container:nth-child(2) {
    margin-right: 0;
  }
  .bp-1-hidden {
    display: none;
  }
  .store-performance-item-stat-container {
    margin: var(--gutter) 0;
  }
  .store-performance-item-type {
    margin-bottom: 0;
  }
}
</style>

<script>
export default {
  name: "storeOverview",

  data() {
    return {
      isPerformanceDataAvailable: true,
      calculatedData: {},
      showDetails: false,
    };
  },

  props: {
    store: {},
  },

  created() {
    this.calculateData();
  },

  methods: {
    calculateData() {
      if (
        this.store.magento_data.current.total_revenue == 0 &&
        this.store.magento_data.previous.total_revenue == 0
      ) {
        this.isDataValid = false;
        //data zal NaN zijn
      } else {
        this.calculatedData.revenueChange = this.returnPercentage(
          this.store.magento_data.current.total_revenue,
          this.store.magento_data.previous.total_revenue
        );
        this.calculatedData.orderChange = this.returnPercentage(
          this.store.magento_data.current.amount_orders,
          this.store.magento_data.previous.amount_orders
        );
        this.calculatedData.averageOrderChange = this.returnPercentage(
          this.store.magento_data.current.average_order,
          this.store.magento_data.previous.average_order
        );
      }
    },

    returnPercentage(num1, num2) {
      let decreaseVal = num1 - num2;
      if (num2 == 0) {
        return 100;
      }
      return ((decreaseVal / num2) * 100).toFixed();
    },

    async updateStore() {
      var storeData = new URLSearchParams();
      for (let key in this.store) {
        storeData.append(key, this.store[key]);
      }
      await this.$store.dispatch("updateStore", storeData);
    },
  },
};
</script>
