<template>
  <div class="store-overview-compact-container u-box-shadow u-mt-m">
    <img
      src="@/assets/images/shapes/compact_priority_blue.svg"
      alt=""
      class="store-overview-accent-shape"
    />
    <div class="u-mb-s">
      <p class="c-subtitle u-mb-xs">{{ store.name }}</p>
      <p>klant: {{ store.client.name }}</p>
    </div>
    <div v-show="isDataValid">
      <div class="u-display-flex u-justify-content-space-around">
        <div class="store-overview-list-performance-item-container">
          <p class="u-font-weight-bold">
            €{{ store.magento_data.current.average_order.toFixed(2) }}
          </p>

          <p>
            <img
              v-if="calculatedData.averageOrderChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.averageOrderChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.averageOrderChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.averageOrderChange) }}%</span
            >
          </p>
          <p class="store-performance-item-type">€ / order</p>
        </div>

        <div class="store-overview-list-performance-item-container">
          <p class="u-font-weight-bold">
            {{ store.magento_data.current.amount_orders }}
          </p>

          <p>
            <img
              v-if="calculatedData.orderChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.orderChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.orderChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.orderChange) }}%</span
            >
          </p>
          <p class="store-performance-item-type">orders</p>
        </div>
      </div>
      <div class="u-display-flex u-justify-content-center u-mt-xs">
        <div class="store-overview-list-performance-item-container">
          <p class="c-subtitle u-font-weight-bold">
            €{{ store.magento_data.current.total_revenue }}
          </p>
          <p>
            <img
              v-if="calculatedData.revenueChange > 0"
              src="@/assets/images/icons/increase_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <img
              v-if="calculatedData.revenueChange < 0"
              src="@/assets/images/icons/descend_icon.svg"
              alt=""
              width="10"
              height="10"
            />
            <span
              class="u-font-weight-bold"
              :class="[
                calculatedData.revenueChange > 0
                  ? 'u-accent-green'
                  : 'u-accent-red',
              ]"
            >
              {{ Math.abs(calculatedData.revenueChange) }}%</span
            >
          </p>
          <p class="store-performance-item-type">omzet</p>
        </div>
      </div>
    </div>
    <div v-show="!isDataValid">
      <p class="u-accent-red">
        Er ging iets mis tijdens het berekenen van de performance data.
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.store-overview-compact-container {
  width: calc(100% - var(--gutter-4));
  border-radius: var(--border-radius);
  padding: var(--gutter-2);
  position: relative;
}
@media screen and (max-width: 425px) {
  .store-overview-compact-container:last-child {
    margin-bottom: calc(var(--gutter-10) + var(--gutter-5));
  }
}

.store-overview-list-performance-item-container {
  background-color: var(--secondary-background-color);
  width: 100%;
  margin: 0 var(--gutter);
  padding: var(--gutter-2) 0;
  border-radius: var(--border-radius);
  text-align: center;
}
.store-performance-item-type {
  font-size: 14px;
}
.store-overview-accent-shape {
  position: absolute;
  left: 0;
}
</style>

<script>
export default {
  name: "StoreOverviewCompact",

  data() {
    return {
      calculatedData: {},
      isDataValid: true,
    };
  },

  props: {
    store: {},
  },

  created() {
    this.calculateData();
    // 0 5 = -100%
    // 0 0 = NaN, wordt al afgehandeld
    // 5 0 = infinity, wordt nu +100%
    console.log("testje", this.returnPercentage(5, 0));
  },

  methods: {
    calculateData() {
      if (
        this.store.magento_data.current.total_revenue == 0 &&
        this.store.magento_data.previous.total_revenue == 0
      ) {
        this.isDataValid = false;
        //data zal NaN zijn
      } else {
        this.calculatedData.revenueChange = this.returnPercentage(
          this.store.magento_data.current.total_revenue,
          this.store.magento_data.previous.total_revenue
        );
        this.calculatedData.orderChange = this.returnPercentage(
          this.store.magento_data.current.amount_orders,
          this.store.magento_data.previous.amount_orders
        );
        this.calculatedData.averageOrderChange = this.returnPercentage(
          this.store.magento_data.current.average_order,
          this.store.magento_data.previous.average_order
        );
      }
    },

    returnPercentage(num1, num2) {
      let decreaseVal = num1 - num2;
      if (num2 == 0) {
        return 100;
      }
      return ((decreaseVal / num2) * 100).toFixed();
    },
  },
};
</script>
