<template>
  <div v-if="isDataValid == true" class="store-overview-list u-box-shadow">
    <div class="">
      <p
        class="u-font-weight-bold store-overview-list-item-name store-overview-ellipsis"
      >
        {{ store.name }}
      </p>
    </div>
    <p class="u-accent-primary u-font-weight-bold">
      {{ store.client.prioriteit }}
    </p>
    <p class="store-overview-ellipsis">{{ store.client.name }}</p>
    <div class="store-overview-list-performance-item-container">
      <p class="u-font-weight-bold">
        {{ store.magento_data.current.amount_orders }}
      </p>
      <p>
        <img
          v-if="calculatedData.orderChange > 0"
          src="@/assets/images/icons/increase_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <img
          v-if="calculatedData.orderChange < 0"
          src="@/assets/images/icons/descend_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <span
          class="u-font-weight-bold"
          :class="[
            calculatedData.orderChange > 0 ? 'u-accent-green' : 'u-accent-red',
          ]"
        >
          {{ Math.abs(calculatedData.orderChange) }}%</span
        >
      </p>
      <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
    </div>

    <div class="store-overview-list-performance-item-container">
      <p class="u-font-weight-bold">
        €{{ store.magento_data.current.total_revenue }}
      </p>
      <p>
        <img
          v-if="calculatedData.revenueChange > 0"
          src="@/assets/images/icons/increase_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <img
          v-if="calculatedData.revenueChange < 0"
          src="@/assets/images/icons/descend_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <span
          class="u-font-weight-bold"
          :class="[
            calculatedData.revenueChange > 0
              ? 'u-accent-green'
              : 'u-accent-red',
          ]"
        >
          {{ Math.abs(calculatedData.revenueChange) }}%</span
        >
      </p>
      <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
    </div>

    <div class="store-overview-list-performance-item-container">
      <p class="u-font-weight-bold">
        €{{ store.magento_data.current.average_order.toFixed(2) }}
      </p>
      <p>
        <img
          v-if="calculatedData.averageOrderChange > 0"
          src="@/assets/images/icons/increase_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <img
          v-if="calculatedData.averageOrderChange < 0"
          src="@/assets/images/icons/descend_icon.svg"
          alt=""
          width="10"
          height="10"
        />
        <span
          class="u-font-weight-bold"
          :class="[
            calculatedData.averageOrderChange > 0
              ? 'u-accent-green'
              : 'u-accent-red',
          ]"
        >
          {{ Math.abs(calculatedData.averageOrderChange) }}%</span
        >
      </p>
      <p class="u-secondary-text-color bp-1-hidden">Vorige periode</p>
    </div>
  </div>
  <div v-else class="store-overview-list-error-container u-box-shadow">
    <div class="">
      <p
        class="u-font-weight-bold store-overview-list-item-error-name store-overview-ellipsis"
      >
        {{ store.name }}
      </p>
    </div>
    <div class="">
      <p class="store-overview-list-item-error-name">
        Fout bij het berekenen van de data. Als de shop net toegevoegd werd mag
        je dit bericht negeren.
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.store-overview-list-item-name {
  font-size: 18px;
  margin-top: var(--gutter-4);
  margin-left: var(--gutter-2);
}

.store-overview-list-item-error-name {
  margin-top: var(--gutter);
  margin-left: var(--gutter-2);
}

.store-overview-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//store overview
.store-overview-list {
  display: grid;
  grid-auto-columns: 20% 5% calc(20% - calc(var(--gutter-5))) 18.33% 18.33%
    18.33%; //gutter*2 padding; 8px per column;
  grid-auto-flow: column;
  grid-gap: 8px;

  padding: var(--gutter);
  background-color: var(--primary-background-color);
  margin: var(--gutter-2) 0;
  border-radius: var(--border-radius);

  background-image: url("/img/icons/little_vleugel.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
}

.store-overview-list-error-container {
  display: grid;
  grid-auto-columns: 20% 1fr; //gutter*2 padding; 8px per column;
  grid-auto-flow: column;
  grid-gap: 8px;

  background-image: url("/img/icons/little_vleugel.svg");
  background-repeat: no-repeat;
  background-position: 0 12px;
  padding: var(--gutter);

  background-color: var(--primary-background-color);
  margin: var(--gutter-2) 0;
  border-radius: var(--border-radius);
}

.store-overview-list-performance-item-container {
  background-color: var(--secondary-background-color);
  padding: var(--gutter);
  border-radius: var(--border-radius);
}

.store-overview-list-item-container {
  margin-top: var(--gutter);
  margin-left: var(--gutter);
}

//store overview header
.store-overview-header-update-container {
  display: flex;
  justify-content: space-between;
}

.store-overview-header-icon-container {
  display: flex;
}

.store-overview-header-name-priority-container {
  display: flex;
  margin: var(--gutter-3) 0;
}

.store-overview-header-priority {
  margin-left: var(--gutter-half);
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.store-overview-header-description {
  width: 100%;
  padding: var(--gutter-half);
}

// store performance
.store-overview-performance-container {
  display: flex;
}

.store-performance-item-container {
  background-color: var(--secondary-background-color);
  padding: var(--gutter-2);
  margin: var(--gutter-2) var(--gutter-2) var(--gutter) 0;
  text-align: left;
  width: calc(33% - var(--gutter-5));
}
.store-performance-item-container:last-child {
  margin-right: 0;
}

.store-performance-item-stat {
  font-weight: 600;
  font-size: 32px;
}

.store-performance-item-stat-container {
  margin-top: calc(var(--gutter-5) + var(--gutter-2));
  margin-bottom: var(--gutter-5);
}

.store-performance-item-type {
  font-weight: 400;
  margin-bottom: var(--gutter-3);
}
.store-performance-item-change-container {
  margin-bottom: var(--gutter);
}

// store overview info
.store-overview-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gutter-3);
}

.store-overview-info-title-container {
  display: flex;
  margin-bottom: var(--gutter-2);
}
.store-overview-info-add-btn {
  margin-left: var(--gutter);
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 1120px) {
  .bp-1-hidden {
    display: none;
  }
}
</style>

<script>
export default {
  name: "StoreOverviewList",

  data() {
    return {
      calculatedData: {},
      isDataValid: true,
    };
  },

  props: {
    store: {},
  },

  created() {
    this.calculateData();
  },

  methods: {
    calculateData() {
      if (
        this.store.magento_data.current.total_revenue == 0 &&
        this.store.magento_data.previous.total_revenue == 0
      ) {
        this.isDataValid = false;
        //data zal NaN zijn
      } else {
        this.calculatedData.revenueChange = this.returnPercentage(
          this.store.magento_data.current.total_revenue,
          this.store.magento_data.previous.total_revenue
        );
        this.calculatedData.orderChange = this.returnPercentage(
          this.store.magento_data.current.amount_orders,
          this.store.magento_data.previous.amount_orders
        );
        this.calculatedData.averageOrderChange = this.returnPercentage(
          this.store.magento_data.current.average_order,
          this.store.magento_data.previous.average_order
        );
      }
    },

    returnPercentage(num1, num2) {
      let decreaseVal = num1 - num2;
      if (num2 == 0) {
        return 100;
      }
      return ((decreaseVal / num2) * 100).toFixed();
    },
  },
};
</script>
