<template>
  <div>
    <div class="u-blurry-background"></div>
    <div class="magento__login__container">
      <div class="magento__login__label__input__container">
        <label for="username">Gebruikersnaam</label>
        <input
          v-model="magentoLogin.username"
          class="c-input"
          type="text"
          id="username"
        />
      </div>
      <div class="magento__login__label__input__container">
        <label for="password">Wachtwoord</label>
        <input
          v-model="magentoLogin.password"
          class="c-input"
          type="password"
        />
      </div>
      <div class="magento__login__label__input__container">
        <label for="url">Adminpaneel URL</label>
        <input v-model="magentoLogin.url" class="c-input" type="text" />
      </div>
      <div class="magento__login__button__container">
        <button class="c-button">Controleer verbinding</button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.magento__login__container {
  background-color: #ddd;
  max-width: 40vw;
  position: fixed;
  width: calc(80% - 32px);
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f7f8ff;
  padding: 24px;
}

.magento__login__label__input__container {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.magento__login__button__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
</style>

<script>
export default {
  name: "MagentoLogin",

  data() {
    return {
      magentoLogin: {}
    };
  }
};
</script>
