<template>
  <div class="app" :class="{ 'u-overflow-hidden': showMobileNav }">
    <div class="side-nav-mobile" v-show="showMobileNav == true">
      <div>
        <router-link to="/" class="c-link side-nav-link u-display-flex">
          <img
            src="@/assets/images/icons/home.svg"
            class="side-nav-svg"
            width="24"
            height="20"
          />
          <p>Overzicht</p></router-link
        >
      </div>
      <div class="u-display-flex u-flex-direction-column">
        <router-link to="/addDataStream" class="c-button side-nav-mobile-button"
          >Data toevoegen</router-link
        >
      </div>
    </div>
    <div class="side-nav u-box-shadow" v-show="isAuthenticated">
      <div>
        <div class="side-nav-logo-container">
          <img
            src="@/assets/images/logos/logo_final.png"
            alt=""
            width="100"
            height="75"
          />
        </div>

        <div class="side-nav-list-item-container">
          <router-link to="/" class="c-link side-nav-link u-display-flex"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="20.4"
              viewBox="0 0 48 40.8"
              class="side-nav-svg"
            >
              <path
                d="M21.2,43.8V29.4h9.6V43.8h12V24.6H50L26,3,2,24.6H9.2V43.8Z"
                transform="translate(-2 -3)"
              />
            </svg>
            <p>Overzicht</p></router-link
          >
        </div>
      </div>
      <div class="side-nav-settings-datapoint-container">
        <router-link to="/addDataStream" class="c-button"
          >Data toevoegen</router-link
        >
      </div>
    </div>

    <div class="app-content" v-if="isAuthenticated == true">
      <div v-show="isAuthenticated" class="top-nav">
        <div>
          <div class="c-toggle top-nav-mobile-icon">
            <input
              class="c-toggle__checkbox-hidden o-hide-accessible"
              type="checkbox"
              id="toggle2"
            />
            <label
              class="c-toggle__input"
              for="toggle2"
              v-on:click="showMobileNav = !showMobileNav"
            >
            </label>
          </div>
        </div>

        <div class="top-nav-item-list-container">
          <p class="u-mr-m">Welkom, {{ userName }}</p>
          <p v-on:click="logout" class="u-cursor-pointer u-text-underline">
            Uitloggen
          </p>
          <!-- <img
            src="@/assets/images/icons/account_circle_48px.png"
            alt=""
            width="24"
            height="24"
          /> -->
        </div>
      </div>
      <router-view />
    </div>
    <div v-else>
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
@import "@/assets/style/screen";

.app {
  font-family: $font-stack-alpha, Arial, sans-serif;
  font-size: $text-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  height: 100vh;
  display: flex;
}
.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 248px; //248px = 200px width van sidenav + 2x24px padding links en rechts van sidenav
  overflow: auto;
}

//top nav
.top-nav {
  padding: 24px;
  background-color: #00000000;
  display: flex;
  justify-content: space-between;
}

.top-nav-item-list-container {
  display: flex;
  min-width: 300px;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

//side nav
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--gutter-3);
  background-color: var(--primary-background-color);
  min-width: 200px;
  position: fixed;
  height: calc(100vh - var(--gutter-5));
}
.side-nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--gutter-3);
  background-color: var(--primary-background-color);
  width: calc(100vw - (var(--gutter) * 6));
  top: calc(var(--gutter-5) + var(--gutter-2));
  position: fixed;
  height: calc(
    100vh - (var(--gutter) * 13)
  ); // totale height = 100vh - afstand van top (7*gutter) + padding (2*3*gutter)
  z-index: 100;
}

.side-nav-logo-container {
  display: flex;
  justify-content: center;
}

.side-nav-list-item-container {
  margin-top: var(--gutter-5);
}

.side-nav-settings-datapoint-container {
  display: flex;
  flex-direction: column;
}

.side-nav-link {
  margin: var(--gutter-2) 0;
  padding: var(--gutter-2) var(--gutter-2);
  border-radius: var(--border-radius);
  transition: $transition;
  &.router-link-exact-active {
    background-color: #4f78e020;
  }
}

.side-nav-link:hover {
  transition: $transition;
  background-color: #4f78e020;
}

.side-nav-svg {
  margin-right: var(--gutter-2);
  path {
    fill: var(--svg-color);
  }
}

.top-nav-mobile-icon {
  display: none;
}
.side-nav-mobile-button {
  //width: 100%;
}

#nav {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

@media screen and (max-width: 620px) {
  .side-nav {
    display: none;
  }
  .app-content {
    margin-left: 0;
  }
  .top-nav-mobile-icon {
    display: block;
  }
}

@media screen and (min-width: 621px) {
  .side-nav-mobile {
    display: none;
  }
  .app {
    overflow: auto;
  }
}
</style>

<script>
export default {
  name: "app",

  data() {
    return {
      darkMode: false,
      showMobileNav: false,
    };
  },

  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
    userName() {
      return this.$store.getters.userName;
    },
  },

  created() {
    this.$store.dispatch("checkAuthentication");
  },

  methods: {
    toggleDarkMode() {
      this.darkMode = !this.darkMode;

      let root = document.documentElement;
      let hexColors;

      if (this.darkMode) {
        hexColors = ["#4A4545", "#232121", "#FCFCFC", "#FCFCFC"];
      } else {
        hexColors = ["#ffffff", "#f2f2f2", "#4f78e0", "#242424"];
      }
      root.style.setProperty("--primary-background-color", hexColors[0]);
      root.style.setProperty("--secondary-background-color", hexColors[1]);
      root.style.setProperty("--primary-accent-color", hexColors[2]);

      root.style.setProperty("--primary-text-color", hexColors[3]);
      root.style.setProperty("--svg-color", hexColors[3]);
      root.style.setProperty("--primary-accent-color", hexColors[2]);
    },

    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>
