.u-accent-green {
  color: var(--green-accent);
}

.u-accent-red {
  color: var(--red-accent);
}

.u-accent-primary {
  color: var(--primary-accent-color);
}

.u-accent-secondary {
  color: var(--secondary-accent-color);
}

.u-secondary-text-color {
  color: #acacac;
}
.u-primary-text-color {
  color: #242424;
}
