.u-display-flex {
  display: flex;
}

.u-flex-direction-column {
  flex-direction: column;
}

.u-justify-content-center {
  justify-content: center;
}
.u-justify-content-space-around {
  justify-content: space-around;
}
.u-justify-content-flex-end {
  justify-content: flex-end;
}

.u-justify-content-space-between {
  justify-content: space-between;
}

.u-align-items-center {
  align-items: center;
}

.u-flex-grow-max {
  flex-grow: 1;
}
