// margin-top
.u-mt-xs {
  margin-top: var(--gutter);
}
.u-mt-s {
  margin-top: var(--gutter-2);
}
.u-mt-m {
  margin-top: var(--gutter-3);
}

.u-mt-l {
  margin-top: var(--gutter-5);
}

.u-mt-xl {
  margin-top: var(--gutter-10);
}

// margin-right
.u-mr-m {
  margin-right: var(--gutter-2);
}

// margin-bottom
.u-mb-s {
  margin-bottom: var(--gutter-2);
}
.u-mb-m {
  margin-bottom: var(--gutter-3);
}

// margin-left
